volumes:
  pgdata:

services:
  web:
    image: trompa-align
    build:
      context: .
      target: trompa-align
    platform: linux/amd64
    ports:
      - "8000:5000"
    environment:
      PYTHONUNBUFFERED: 1
      FLASK_DEBUG: 1
    env_file:
      - env.docker
    command:
      - flask
      - --debug
      - run
      - --host=0.0.0.0
    volumes:
      - "./.root-home:/root"
      - ".:/code"
      - "/code/.venv"

  redis:
    image: "redis:alpine"

  celery:
    image: trompa-align
    command:
      - celery
      - -A
      - trompaalign.celery
      - worker
      - --concurrency=1
      - --loglevel=INFO
    env_file:
      - env.docker
    develop:
      watch:
        - action: sync+restart
          path: .
          target: /code
          ignore:
            - .venv

  db:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_DB: solid_oidc
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
