celery==5.2.7
click==8.1.3
Flask==2.2.2
Flask-Cors==3.0.10
flask-redis==0.4.0
flask-shell-ipython==0.4.1
Flask-SQLAlchemy==3.0.3
ipython==7.34.0
jwcrypto==1.4.2
lxml==4.9.2
midi2audio==0.1.1
mido==1.2.10
pydub==0.25.1
pyld==2.0.3
psycopg2-binary==2.9.5
python-dotenv==0.21.1
rdflib==6.2.0
redis==4.5.1
requests==2.28.2
SQLAlchemy==2.0.3
git+https://github.com/trompamusic/solid-oidc-app-permission.git@ffe3194#egg=trompa_solid
verovio==3.14.0
